@model IEnumerable<Decanatus.DAL.Models.Lesson>

@{
    ViewData["Title"] = "Головна сторінка";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Audience.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject.Name)
            </th>
            <th>
                Lecturers
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Audience.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject.Name)
                </td>
                <td>
                    @foreach (var lecturer in item.Lecturers)
                    {
                        <p>@lecturer.LastName @lecturer.FirstName[0] @lecturer.MiddleName[0]</p>
                    }
                </td>
                @*<td>
                    <a asp-action="Edit" asp-route-id="@item.CourseID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CourseID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CourseID">Delete</a>
                </td>*@
            </tr>
        }
    </tbody>
</table>
