@model IEnumerable<Decanatus.DAL.Models.Lesson>

@{
    ViewData["Title"] = "Розклад занять";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>     

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>


<table class="table" id="scheduleTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LessonType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LessonNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LessonWeekType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayOfWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Audience.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Groups)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lecturers)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LessonType);
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LessonNumber);
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LessonWeekType);
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DayOfWeek);
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Audience.Name);
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Audience.Name);
                </td>
                <td>
                    @foreach (var item2 in item.Groups)
                    {
                        <p>
                            @Html.DisplayFor(modelItem2 => item2.Name);
                        </p>
                    }
                </td>
                <td>
                    @foreach (var item2 in item.Lecturers)
                    {
                        <p>@item2.LastName @item2.FirstName[0] @item2.MiddleName[0]</p>
                    }
                </td>
            </tr>
        }
    </tbody>

</table>

<script>
    $(document).ready(function () {
        $("#scheduleTable").DataTable();
    });
</script>
